
<ul class="cd-hero-slider">
    <li class="selected">
            <div class="heading">
                <h1>Web Design Packages</h1>
            </div>
              <div class="cd-half-width third-slide">
                <div class="container">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="content third-content">
                        <div class="row">
                            <div class="section-headlines text-center">
                              <h2>Web Design Pricing</h2>
                              <p>My aim is simple; I want to ensure your business penetrates the market and finds its way to be a top competitor.</p>
                            </div>

                             <div class="row-fluid" style="margin-left: 7px;">
                                <div class="pricing-table row-fluid text-center">
                                  <div class="span4">
                                    <div class="plan">
                      								<div class="plan-name">
                      									<h2>BASIC</h2>
                      									<p class="muted">Perfect for small budget</p>
                      								</div>
                      								<div class="plan-price">
                      									<b>$43.00 </b> / month
                      								</div>
                      								<div class="plan-details">
                      									<div>
                      										<b>RESPONSIVE & MOBILE READY</b>
                      									</div>
                      									<div>
                      										<b>HOME PAGE FEATURED SLIDER</b>
                      									</div>
                      									<div>
                      										<b>IMAGE GALLERY</b>
                      									</div>
                                        <div>
                      										<b>CONTACT FORM</b>
                      									</div>
                                        <div>
                      										<b>SEARCH ENGINE FRIENDLY</b>
                      									</div>
                                        <div>
                      										<b>4 WEB PAGES</b>
                      									</div>
                                        <div>
                      										<b>1 Included Free Domain Registration (ie: www.your-business-name.com)</b>
                      									</div>
                                        <div>
          										            <b>1 Web Email Address Setup (ie: john@your-business-name.com)</b>
                      									</div>
                                        <div>
                      										<b>Hosting Storage (5GB) </b>
                      									</div>
                                        <div>
                      										<b>Site Content Revision and Maintenance</b>
                      									</div>

                      								</div>
                      								<div class="plan-action">
                                        <%= link_to "Request for Quotation",basics_path, class:"btn btn-block btn-large"%>
                      								</div>
                      							</div>
                                </div>


                                  <div class="span4">
                                    <div class="plan prefered">
                                      <div class="plan-name">
                                        <h2>STANDARD</h2>
                                        <p class="muted">Perfect for medium budget</p>
                                      </div>
                                      <div class="plan-price">
                                        <b>$53.00</b> / month
                                      </div>
                                      <div class="plan-details">
                                        <div>
                                          <b>RESPONSIVE & MOBILE READY</b>
                                        </div>
                                        <div>
                                          <b>IMAGE GALLERY</b>
                                        </div>
                                        <div>
                                          <b>CONTACT FORM</b>
                                        </div>
                                        <div>
                                          <b>SEARCH ENGINE FRIENDLY</b>
                                        </div>
                                        <div>
                                          <b>6 WEB PAGES</b>
                                        </div>
                                        <div>
                                          <b>CONTACT FORM</b>
                                        </div>
                                        <div>
                                          <b>Social Media Marketing  - Integration to your website</b> (Facebook, Twitter, Instagram)
                                        </div>
                                        <div>
                                          <b>1 Included Free Domain Registration (ie: www.your-business-name.com)</b>
                                        </div>
                                        <div>
                                          <b>5 Web Email Address Setup (ie: john@your-business-name.com)</b>
                                        </div>
                                        <div>
                                          <b>Hosting Storage (25GB) </b>
                                        </div>
                                        <div>
                                          <b>Site Content Revision and Maintenance</b>
                                        </div>

                                      </div>
                                      <div class="plan-action">
                                      <%= link_to "Request for Quotation",standards_path, class:"btn btn-success btn btn-block btn-large"%>
                                      </div>
                                    </div>
                                  </div>

                                  <div class="span4">
                                    <div class="plan">
                      								<div class="plan-name">
                      									<h2>ECOMMERCE</h2>
                      									<p class="muted">Perfect for Online business</p>
                      								</div>
                      								<div class="plan-price">
                      									<b>$80.00</b> / month
                      								</div>
                      								<div class="plan-details">
                      									<div>
                      										<b>RESPONSIVE & MOBILE READY</b>
                      									</div>
                      									<div>
                      										<b>HOME PAGE FEATURED SLIDER</b>
                      									</div>
                      									<div>
                      										<b>BILLING & SHIPPING FORMS</b>
                      									</div>
                                        <div>
                                          <b>ORDER & DELIVERY MANAGEMENT</b>
                                        </div>
                                        <div>
                                          <b>LIVE CHAT </b>
                                        </div>
                                        <div>
                                          <b>ADMIN DASH BOARD </b>
                                        </div>
                                        <div>
                                          <b>Social Media Marketing  - Integration to your website</b> (Facebook, Twitter, Instagram)
                                        </div>
                                        <div>
                                          <b>1 Included Free Domain Registration (ie: www.your-business-name.com)</b>
                                        </div>
                                        <div>
                                          <b>5 Web Email Address Setup (ie: john@your-business-name.com) </b>
                                        </div>
                                        <div>
                                          <b>Hosting Storage (25GB) </b>
                                        </div>
                                        <div>
                                          <b>Site Content Revision and Maintenance </b>
                                        </div>
                                        <div>
                                          <b>Payment Gateways (ie. Credit Card, Paypal and others) </b>
                                        </div>
                      								</div>
                      								<div class="plan-action">
                      					        <%= link_to "Request for Quotation",packages_path, class:" btn btn-block btn-large"%>

                                  		</div>
                      							</div>




                                  </div>

                              </div>
                           </div>

                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
</li>
</ul>
