
<ul class="cd-hero-slider">
    <li class="selected">
          <div class="heading">
                <h1>My Portfolio</h1>
            <span>Here you can check my recent projects</span>
          </div>
            <div class="cd-half-width fourth-slide">
              <div class="container">
                <div class="row">
                  <div class="col-md-12">
                    <div class="content fourth-content">
                      <div class="row">

                        <div class="col-md-4 col-sm-5 project-item ">
                            <a href="http://www.avava.com.au" rel="noopener noreferrer" target="_blank"><img class = "img-thumbnail" src="img/Avava.jpg"></a>
                          </div>
                          <div class="col-md-4 col-sm-5 project-item">
                            <a href="http://www.satarboat.com.au" rel="noopener noreferrer" target="_blank"><img class = "img-thumbnail" src="img/satarboat.jpg"></a>
                          </div>
                          <div class="col-md-4 col-sm-5 project-item">
                            <a href="http://www.invotrends.com" rel="noopener noreferrer" target="_blank"><img class = "img-thumbnail" src="img/Invotrends.jpg"></a>
                          </div>
                          <div class="col-md-4 col-sm-5 project-item">
                            <a href="http://www.parkpoint.com.au" rel="noopener noreferrer" target="_blank"><img class = "img-thumbnail" src="img/Parkpoint.jpg"></a>
                          </div>
                          <div class="col-md-4 col-sm-5 project-item">
                            <a href="https://www.vestahomes.com.au" rel="noopener noreferrer" target="_blank"><img class = "img-thumbnail" src="img/vesta.jpg"></a>
                          </div>
                          <div class="col-md-4 col-sm-5 project-item">
                            <a href="http://www.vestahomes.com.ph" rel="noopener noreferrer" target="_blank"><img class = "img-thumbnail" src="img/vesta2.jpg"></a>
                          </div>



                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>
